 @import './base/reset';
 @import './base/common';
 @import './base/hidden';
 @import './base/overlay';

 @import './utils/variables';

 @import './components/container';
 @import './components/section';

 @import './layouts/header';
 @import './layouts/hero';
 @import './layouts/features';
 @import './layouts/work';
 @import './layouts/our-team';
 @import './layouts/clients';
 @import './layouts/footer';
 @import './layouts/modal';
 @import './layouts/portfolio';

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    margin: 0px;
}

.container {
    margin: 0px auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* logo */

a.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

span.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: #2196f3;
}

.logo-footer:focus,
.logo-footer:hover {
    color: #2196f3;
}

a.logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

span.logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}

/* header */

.header {
    border-bottom: 1px solid #eeeeee;
}

/* menu-link */

.menu-link {
    position: relative;

    display: block;
    text-decoration: none;
}

.menu-link::after {
    position: absolute;
    content: "";

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-studio {
    position: relative;

    display: block;
    text-decoration: none;
}

.menu-studio::after {
    position: absolute;
    content: "";

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
}

.menu-link:hover::after {
    opacity: 1;
}

.menu-portfolio {
    position: relative;

    display: block;
    text-decoration: none;
}

.menu-portfolio::after {
    position: absolute;
    content: "";

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
}

/* main nav */

.main-nav {
    display: flex;
    align-items: center;
}

/* auth-nav */

.soc-mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-mail:hover {
    fill: #2196f3;
}

.icon-mail {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.mail {
    display: flex;
    align-items: center;
}

.social-tel {
    display: flex;
}

.icon-tel {
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
}

.soc-tel {
    display: flex;
}

.soc-tel:hover {
    fill: #2196f3;
}

.icon-tel {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.tel {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 10px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.auth-nav .item+.item {
    padding-left: 40px;
}

.auth-nav .link:focus,
.auth-nav .link:hover {
    color: #2196f3;
}

.auth-nav .link {
    color: #757575;
}

/* overlay */

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img.jpg);
    background-position: center;
    background-size: cover;
}

/* hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    color: #ffffff;
}

.hero-btn {
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    border: 1px transparent;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* icons */

.icon {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
}

/* section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;
}

.padding-top {
    padding-top: 0px;
}

/* site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nan .li {
    position: relative;
}

/* .site-nav .item {
  margin-right: 50px;
} */

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.site-nav .link:focus,
.site-nav .link:hover {
    color: #2196f3;
}

/* main */
.section-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.title {
    margin-bottom: 10px;
}

/* main partfolio */

.border {
    border: 1px solid #eeeeee;
}

.portfolio-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-element:nth-child(3n) {
    margin-right: 0px;
}

.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.flex-element {
    border: 1px solid #eeeeee;
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.flex-element:focus,
.flex-element:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-overlay {
    position: relative;
    overflow: hidden;
}

.products-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.text-resource {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.products-overlay:hover .products-text {
    transform: translateY(0);
    opacity: 1;
}

/* our-team */

.team-manager {
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
}

.our-team {
    display: flex;
}

.our-team .item {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 0px 0px 4px 4px;
}

.our-team .item+.item {
    margin-left: 30px;
}

.bckg {
    background: #f5f4fa;
    border: 1px solid #eeeeee;
}

/* manager-socials */

.manager-soc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.manager-soc-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.manager-soc-item:hover,
.manager-soc-item:focus {
    background-color: #2196f3;
    fill: #ffffff;
}

/* work-list */

.work-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.working-list {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 4px;
    background-color: rgba(47, 48, 58, 0.8);
}

.working-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.work-list .item+.item {
    margin-left: 30px;
}

/* feature */

.features {
    display: flex;
}

.features .item+.item {
    margin-left: 30px;
}

.feature .title {
    color: #212121;
}

.btn:focus,
.btn:hover {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn {
    padding: 6px 22px 6px 22px;
    cursor: pointer;
    border: transparent;
    background: #f5f4fa;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-btn .item+.item {
    margin-left: 8px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.title-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-name {
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text {
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.feauters-list .item+.item {
    margin-left: 30px;
}

/* icons-clients */

.icons-clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-list {
    display: flex;
}

.clients-soc {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: #afb1b8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-soc:hover {
    fill: #2196f3;
    border-color: #2196f3;
}

.clients-list .item+.item {
    margin-left: 30px;
}

/* address */
.address {
    display: flex;
    margin-top: 28px;
}

/* footer */

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-soc-title {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-soc {
    width: 206px;
    height: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 70px;
}

.footer-soc-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item:hover {
    background-color: #2196f3;
}

.footer-position {
    display: flex;
}

.social-list {
    display: flex;
}

.footer-soc-list {
    margin-left: 70px;
}

.follow-field {
    margin-top: 10px;
    margin-left: 93px;
}

.follow-mail {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}

.follow-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: #ffffff;
}

.follow-btn {
    position: relative;
    width: 200px;
    height: 50px;
    border: none;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.follow-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
}

.icon-massage {
    position: absolute;
    top: 13px;
    right: 28px;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 109, 109, 0.431);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-close:hover {
    fill: #2196f3;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-policy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    display: flex;
    border: 2px solid rgba(7, 7, 7, 0.87);
    border-radius: 2px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* modal-icon */

.form-field:hover {
    fill: #2196f3;
}

.user-name:hover,
.user-name:focus {
    border-color: #2196f3;
}

.user-name:focus+svg,
.user-name:hover+svg {
    fill: #2196f3;
}

.user-mail:hover,
.user-mail:focus {
    border-color: #2196f3;
}

.user-mail:focus+svg,
.user-mail:hover+svg {
    fill: #2196f3;
}

.user-tel:hover,
.user-tel:focus {
    border-color: #2196f3;
}

.user-tel:focus+svg,
.user-tel:hover+svg {
    fill: #2196f3;
}

.modal-input-wrapper {
    position: relative;
}

.user-name {
    height: 40px;
    outline: none;
}

.person {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-tel {
    height: 40px;
    outline: none;
}

.telefon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-mail {
    height: 40px;
    outline: none;
}

.modal-mail {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal-form */

textarea {
    resize: none;
}

.form-field input {
    width: 100%;
    margin: 0;
    padding: 14px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
    height: 120px;
    margin: 0;
    outline: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-field label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;

    color: #757575;
}

.modal-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: #212121;
}

.form {
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-btn {
    margin-top: 30px;
    margin-bottom: 36px;
    margin-left: 130px;
    margin-right: 120px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 52px;
    background-color: #2196f3;
    color: #ffffff;
    border: 1px transparent;
}

.modal-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.policy {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}

.policy-blue {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: #2196f3;
}

.modal-icon-check {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    cursor: pointer;
}

.modal-icon-check svg {
    fill: transparent;
}

.checkbox:checked+label>span {
    border: none;
    background-color: #2196f3;
}

.checkbox:checked+label>span svg {
    fill: #ffffff;
}