.overlay {
  @media screen and (min-width: 480px) {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img_mob.jpg);
    // @include retina {
    //   background-image: linear-gradient(
    //       to right,
    //       rgba(47, 48, 58, 0.4),
    //       rgba(47, 48, 58, 0.4)
    //     ),
    //     url(../images/img_mob-2x.jpg);
    // }
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img_tab.jpg);
    // @include retina {
    //   background-image: linear-gradient(
    //       to right,
    //       rgba(47, 48, 58, 0.4),
    //       rgba(47, 48, 58, 0.4)
    //     ),
    //     url(../images/img_tab-2x.jpg);
    // }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Img.jpg);
    // @include retina {
    //   background-image: linear-gradient(
    //       to right,
    //       rgba(47, 48, 58, 0.4),
    //       rgba(47, 48, 58, 0.4)
    //     ),
    //     url(../images/img_2x.jpg);
    // }
  }
}

//   max-width: 1600px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/img_mob.jpg);
//   @include retina {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/img_mob-2x.jpg);
//   }
//   background-position: center;
//   background-size: cover;
