.icons-clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list {
  display: flex;

  //   & .item + .item {
  //     margin-left: 30px;
  //   }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    padding: 0px;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: #2196f3;
    border-color: #2196f3;
  }

  @media screen and (max-width: 767px) {
    flex-basis: 50%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: 30%;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list > .item + .item {
  @media screen and (min-width: 1200px) {
    margin-left: 20px;
  }
}
