.features {
    display: flex;
}

.icon {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
}

.features .item+.item {
    margin-left: 30px;
}

.feature .title {
    color: #212121;
}

.btn:focus,
.btn:hover {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn {
    padding: 6px 22px 6px 22px;
    cursor: pointer;
    border: transparent;
    background: #f5f4fa;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-btn .item+.item {
    margin-left: 8px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.title-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-name {
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text {
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.feauters-list .item+.item {
    margin-left: 30px;
}