a.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-right: 93px;
}

span.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: #2196f3;
}


/* header */

.header {
    border-bottom: 1px solid #eeeeee;
}

/* menu-link */

.navigation__link {
    position: relative;

    display: block;
    text-decoration: none;

    &::after {
            position: absolute;
            content: "";
    
            left: 0;
            bottom: 0;
    
            display: block;
            width: 100%;
            height: 5px;
            background-color: #2196f3;
            border-radius: 2px;
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}


.navigation__studio {
    position: relative;

    display: block;
    text-decoration: none;

    &::after {
            position: absolute;
            content: "";
    
            left: 0;
            bottom: 0;
    
            display: block;
            width: 100%;
            height: 4px;
            background-color: #2196f3;
            border-radius: 2px;
        }
}


.navigation__link:hover::after {
    opacity: 1;
}

.menu-portfolio {
    position: relative;

    display: block;
    text-decoration: none;

    &::after {
            position: absolute;
            content: "";
    
            left: 0;
            bottom: 0;
    
            display: block;
            width: 100%;
            height: 4px;
            background-color: #2196f3;
            border-radius: 2px;
        }
}


/* main nav */

.main-nav {
    display: flex;
    align-items: center;
}

/* auth-nav */

.soc-mail {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
            fill: #2196f3;
        }
}


.icon-mail {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.mail {
    display: flex;
    align-items: center;
}

.social-tel {
    display: flex;
}

.icon-tel {
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
}

.soc-tel {
    display: flex;

    &:hover {
            fill: #2196f3;
        }
}


.icon-tel {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.tel {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 10px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    & .item+.item {
            padding-left: 40px;
        }
    
        & .link:focus,
        & .link:hover {
            color: #2196f3;
        }
    
        & .link {
            color: #757575;
        }
}


.navigation__site {
    display: flex;

    & .item:not(:last-child) {
            margin-right: 50px;
        }

   & .li {
        position: relative;
    }
        
    & .link {
       display: block;
       padding-top: 32px;
       padding-bottom: 32px;
        
       font-weight: 500;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.02em;
       color: #212121;
    }
        
    & .link:focus,
    & .link:hover {
     color: #2196f3;
    }
}


