.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    color: #ffffff;
}

.hero-btn {
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: #2196f3;
    color: #ffffff;
    border: 1px transparent;
}