.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.hero-btn {
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  border: 1px transparent;
}
