/* modal */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 109, 109, 0.431);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
            fill: #2196f3;
        }
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-policy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    display: flex;
    border: 2px solid rgba(7, 7, 7, 0.87);
    border-radius: 2px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* modal-icon */

.form-field:hover {
    fill: #2196f3;
}

.user-name {
    height: 40px;
    outline: none;

    &:hover,
    &:focus {
        border-color: #2196f3;
    }

    &:focus+svg,
    &:hover+svg {
        fill: #2196f3;
    }
}

.user-mail {
    height: 40px;
    outline: none;

    &:hover,
    &:focus {
        border-color: #2196f3;
    }

    &:focus+svg,
    &:hover+svg {
        fill: #2196f3;
    }
}

.user-tel {
    height: 40px;
    outline: none;

    &:hover,
    &:focus {
        border-color: #2196f3;
    }

    &:focus+svg,
    &:hover+svg {
        fill: #2196f3;
    }
}


.modal-input-wrapper {
    position: relative;
}


.person {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telefon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mail {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal-form */

textarea {
    resize: none;
}

.form-field input {
    width: 100%;
    margin: 0;
    padding: 14px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
    height: 120px;
    margin: 0;
    outline: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-field label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;

    color: #757575;
}

.modal-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: #212121;
}

.form {
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-btn {
    margin-top: 30px;
    margin-bottom: 36px;
    margin-left: 130px;
    margin-right: 120px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 52px;
    background-color: #2196f3;
    color: #ffffff;
    border: 1px transparent;

    &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            cursor: pointer;
        }
}

.policy {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}

.policy-blue {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: #2196f3;
}

.modal-icon-check {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    cursor: pointer;

    & svg {
            fill: transparent;
        }
}

.checkbox:checked+label>span {
    border: none;
    background-color: #2196f3;
}

.checkbox:checked+label>span svg {
    fill: #ffffff;
}